.teste{
    border: 1px solid #b8b8b8;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0.5rem 1rem;
    height: 7rem;
    border-radius: 8px;
}

.image{
    width: 6rem;
    height: 7rem;
    border-radius: 8px 0px;
}
.wrapper{
    width: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.price{
    width: 7.375rem;
    height: 1.188rem;
    margin-bottom: 0.5rem;
    /* font-family: Roboto; */
    font-size: 1.125rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #000;
}
.name{
    color: #e8222e;
    font-size: 1.30rem;
    margin: 0.5rem 0 0
}

.description{
    color: #b8b8b8;
    font-size: 0.95rem;
}